<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title"> 
    Quantidade de pontos
  </mat-card-title>
    <mat-card-subtitle class="subtitle">
      {{pointsUser}}
    </mat-card-subtitle>
<ul>
  <button 
  mat-raised-button 
  *ngFor="let document of documentArray" 
  (click)="findDocument(document.document)">
    <mat-card-title class="title"> {{ document.name }} </mat-card-title>
        <br>
    <mat-card-subtitle class="subtitle">
        {{ document.document }}
    </mat-card-subtitle> 
  </button>
</ul>
</mat-card>

