.sidenav{
    background-color: #3F51B5;
    width: 200PX;
}
span{
    color: white;
    position: absolute;
    top: 15px;
}
a{
    position: relative;
}
.sidenav i{
    padding-right: 10px;
    color: #FFF;
}

.nav-list{
    margin-top: 40px;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.content{
    padding: 16px;
    padding-top: 60px;
    background-color: #FFF;
}