mat-card {
  padding: 15px;
}

.title {
  font-size: 30px;
}
.containerButtons {
  display: flex;
}
.divButton {
  display: flex;
  flex-direction: column;
  margin: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px;
}
.divButton p {
  font-size: 20px;
}
.divButton div{
    margin-bottom: 10px;
}
span {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
button {
  margin-top: 10px;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.value{
  display: flex;
  justify-content: center;
}